@import "variables";

.container {
  width: 100%;
  margin-top: 40px;
}

.card {
  padding: 30px 40px;
  padding-bottom: 20px;
}

.title {
  color: $primary;
}

.register-link {
  text-decoration: none;
  color: $primary;
}

.spacer {
  height: 10px;
  margin: 10px 0;
}

.sign-up {
  margin-top: 0;
}

.error {
  color: $warn;
}
