<mat-card class="card">
  <mat-card-title class="card-title">Login to Librick Librarian</mat-card-title>

  <mat-form-field class="input">
    <input matInput [(ngModel)]="email" type="email" placeholder="Email"/>
  </mat-form-field>

  <mat-form-field class="input">
    <input matInput [(ngModel)]="password" type="password" placeholder="Password"/>
  </mat-form-field>

  <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>

  <button mat-raised-button class="button" color="primary" (click)="login()">
    Log in
  </button>
</mat-card>
