@import "variables";

:host {
  flex-grow: 1;
  display: flex;
}

.mat-table-container {
  width: 100%;
  max-width: 1200px;
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-author {
  margin-top: 0.5em;
  color: $primary;
  float: right;
}

.edit-author {
  color: $warn;
}

.delete-author {
  color: red;
}
