@import "variables";

:host {
  flex-grow: 1;
  display: flex;
}

.container {
  padding: 0 1em;
  min-width: 400px;
}

.title {
  color: $primary;
}

.error {
  color: $warn;
}

.button-group {
  margin-top: 0.2em;
}

.showAuthorSelectorDialog {
  text-align: left;
}
