<div class="container" fxFlexAlign="center stretch" fxLayout="column">
  <h3 mat-dialog-title class="title">Change password</h3>

  <mat-form-field>
    <input matInput [(ngModel)]="oldPassword" type="password" placeholder="Old password" required/>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newPassword" type="password" placeholder="New password" required/>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="repeatedNewPassword" type="password" placeholder="Repeat new password" required/>
  </mat-form-field>

  <p class="error" *ngIf="newPassword != repeatedNewPassword">
    Password and repeated password are different
  </p>

  <div class="button-group" fxLayout="row" fxLayoutGap="1.5em" fxLayoutAlign="space-between center">
    <button fxFlex mat-raised-button [mat-dialog-close]>
      Cancel
    </button>

    <button fxFlex mat-raised-button (click)="changePasswordButtonPressed()">
      Change password
    </button>
  </div>
</div>
